{% extends "base_generic.html" %}

{% block content %}
<div class="index-content">
  <h1>Emily's Library</h1>

  <p>Welcome to Emily's Library, a website developed by Emily with guidance by Mozilla Developer Network
  </p>
  <div class="sub-content">
    <p>Add my currently reading, recently popular and maybe recent reviews?</p>
    <h2>Dynamic content</h2>
    <p>This library has the following record counts: </p>
    <ul>
      <li>
        <strong>Books:</strong> {{ num_books}}
      </li>
      <li><strong>Copies:</strong> {{ num_instances }} </li>
      <li>
        <strong>Copies Available:</strong> {{ num_instances_avail }}
      </li>
      <li><strong>Authors:</strong> {{ num_authors }}</li>
    </ul>
    <p> You have visited this page {{ num_visits }} time{{num_visits|pluralize }}.</p>
  </div>
</div>
{% endblock %}