{% extends "base_generic.html" %}

{% block content %}
<div class="book-detail">

  {% if book.cover_img %}
  <img class="book-cover-detail" src="{{ book.cover_img.url }}">
  {% endif %}
  <div class="details">
    <h1>{{ book.title }}</h1>
    <p><strong>By:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author.first_name }}
        {{ book.author.last_name }}</a></p>
    <p class="isbn">{{ book.isbn }}</p>
    <p class="avg_review">
      {% if book.average_review == -1 %}
      <strong>No reviews yet</strong>
      {% else %}
      <strong>{{ book.average_review }}</strong>

      {% load static %}
      <img src="{% static 'img/star.png' %}">
      {% endif %}
    </p>
    {% for genre in book.genre.all %}
    <span class="genre-bubble-list">{{ genre }} </span>
    {% endfor %}
    <br />
    <br />
    <div class="copies-avail">
      {% load static %}
      <img src="{% static 'img/book.png' %}">
      {{ book.num_copies_avail }} of {{ book.total_copies }} Copies Available
    </div>
    <hr>
    <p><strong>Description:</strong>{{ book.description }}</p>
    <p><strong>Reviews:</strong>{{ book.reviews.all|join:"; " }}</p>
  </div>

  <form method="post" action="{% url 'book-review-form' %}">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>
</div>

{% endblock %}